{% extends "base.html" %}

{% block content %}
<h1>
    Workers: 
</h1>    


<form method="POST" action="{% url 'worker_network' %}">
    {% csrf_token %}
    <input type="text" name="booth_id" />

    <select class="dropdown">
        <option>-- All --</option>
    {% for agent in agent_types %}
        <option id="{{agent.id}}">{{agent.title}}</option>
    {% endfor %}
    </select>

    <button class="btn btn-primary">Search</button>
</form>
<h2>You typed: {{id}}</h2>
<table class="table">
    <th>Name</th>
    <th>Mobile</th>
    <th>Type</th>
    <tbody>
        <tr><td></td><td></td><td></td></tr>
    </tbody>
</table>

{% endblock content %}